@page
@using SailClubLibrary.Models
@model RazorBoatApp2026InClass.Pages.Members.IndexModel
@{
    ViewData["Title"] = "List Members";
}

<h1>List of members</h1>

<p>
    <a asp-page="CreateMember">Create a new member</a>
</p>

<form method="get">
    search:<input type="text" asp-for="@Model.FilterCriteria" />
    <input type="submit" value="Filter" />
</form>
<table class="table">
    <thead>
        <tr>
            <form method="get">
                @* <th>ID</th> *@
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" Value="ID">ID</button>
                </th>
                @* <th>FirstName</th> *@
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" Value="FirstName">FirstName</button>
                </th>
                <th>SurName</th>
                @* <th>PhoneNumber</th> *@
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" Value="PhoneNumber">PhoneNumber</button>
                </th>
                <th>Address</th>
                @* <th>City</th> *@
                <th>
                    <button type="submit" class="btn btn-link" name="SortBy" Value="City">City</button>
                </th>
                <th>Mail</th>
                <th>TheMemberType</th>
                <th>TheMemberRole</th>
            </form>
        </tr>
    </thead>
    <tbody>
        @foreach(Member item in Model.Members)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.SurName</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Address</td>
                <td>@item.City</td>
                <td>@item.Mail</td>
                <td>@item.TheMemberType</td>
                <td>@item.TheMemberRole</td>
                <td><a asp-page="DeleteMember" asp-route-phoneNumber="@item.PhoneNumber">Delete</a> |
                <a asp-page="EditMember" asp-route-phoneNumber="@item.PhoneNumber">Edit</a></td>
            </tr>
        }
    </tbody>

</table>